<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovo.spring.dao.IOrderDao">
    <insert id="addOrder">
        insert into t_order(sellNum,sellPrice,repertoryId,sellAllMonye)values
        (#{sellNum},#{sellPrice},#{repertory.id},#{sellAllMoney})
    </insert>
    <update id="updata">
        update t_repertory set productNum = productNum-#{param2} where productName = #{param1}
    </update>
</mapper>